nav{
display: flex;
flex-direction: column;
padding-bottom: 3rem;

@media (min-width: 768px) {
    padding: 0;
    flex-direction: row;
}
}

.nav-link{
color: #FFF;
font-weight: 700;
font-family: 'PT Sans', sans-serif;
text-decoration: none;
padding: .5rem;
margin-right: 1rem;
    &:last-of-type {
        margin-right: 0;
    }
    &.pagina-actual {
        border-bottom: 2px solid #FFF;
    }
}